{% extends "auctions/layout.html" %}
{% block title %}New Listing{% endblock %}
{% block body %}

    <h2 class="text-dark">Create Listing</h2>
    {% if message %}
    <p class="text-danger text-center">{{message}}</p>
    {% endif %}
    <div class="form shadow">
      <form enctype="multipart/form-data" action="{% url 'create_listing' %}" method="post">
          {% csrf_token %}
          <div class="listing-form">
              {{form.as_p}}
          </div>
          <input class="btn btn-primary" type="submit" value="Create">
      </form>

      or View <a href="{% url 'index' %}">Active Listing</a>
    </div>


{% endblock %}
