{% extends "auctions/layout.html" %}
{% block title %} Active Listing{% endblock %}
{% block body %}
    <h2 class="text-info">Active Listings</h2><hr>
    {% if won %}
    <section class=" text-center ml-5 mr-5 mt-0 mb-0 bg-white pl-5 pr-5 pb-1 rounded">
      <h5 class=" text-success ">Congratulations!!! You have won !!!</h5>
      <p class="text-success text-wrap text-center ">
        {% for win in won %}
        <a href="{{win.listing.get_absolute_url}}" class="text-white  ml-2 btn btn-success">{{win.listing|title}}</a>
        {% endfor %}
        </p>
    </section>
    {% endif %}
    <div class="listing-grid">
      {% for listing in listings %}
      <div class="d-flex list-container ">
        <div class="float-lg-left">
          <a href="{% url 'listing_detail' listing.id %}">
            <figure class="figure p-1">
             <img src="{{listing.photo.url}}" class="figure-img img-fluid rounded " alt="image of {{listing.title}}">
              <figcaption class="figure-caption text-uppercase text-black font-weight-bold">{{listing.title}}</figcaption>
            </figure>
          </a>
        </div>
        <div class="list-details border shadow pt-2">
          <p class="text-left ml-2 text-warning font-weight-italic"><strong>Current Price :</strong></p>
          <p class="text-left text-white ml-1"> <strong>$ {{listing.current_price}}</strong></p>
          <p class="text-left ml-2 text-warning"><strong>Posted :</strong></p>
          <p <span class="text-left text-white ml-1"> {{listing.post_time}}</span></p>
          <p class="text-wrap ml-2 text-left text-warning" > <strong>Description:</strong></p>
            <p class="overflow-auto text-wrap text-left text-white ml-1">{{listing.description}}</p>
          <p class="text-left ml-2 text-warning"><strong>Posted by:</strong></p>
          <p class="text-info text-left ml-1"><strong>{{listing.user}}</strong></p>
        </div>

      </div>
    {% empty %}
    <h4 class="text-center text-info"> No Active Listing</h4>
    {% endfor %}
    </div>
{% endblock %}
